body{
    background-image:  url(hero.jpg) ;
    backdrop-filter: brightness(50%);
    height: 100vh;
    background-size: cover;
    margin: 0;
    
}


.container{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    align-items: center;
}
.nav-link{
    display: flex;
    list-style: none;
    
}
.nav-link > li > a {
    font-family: 'Saira', sans-serif;
    margin: 50px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.nav-link > li > a:hover{
    color: palevioletred;
}
.friendlygreetings{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 70px;
}
.messagecontent{
    list-style: none;
    
}
.messagecontent > li{
    font-family: 'Rajdhani', sans-serif;
    font-size: 210%;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
}
.messagebutton{
    margin-left: 40px;
    margin-top: 10px ;
}
.messagebutton > a{
    text-decoration: none;
    font-family: 'Saira', sans-serif;
    padding: 10px 30px;
    border-radius: 40px / 100%;
    
}
#one{
    color: white;
    background-color: rgb(254, 184, 0);
    border: 2px solid rgb(254, 184, 0);
    margin-right: 20px;
}
#two{
    color: rgb(254, 184, 0);
    border: 2px solid rgb(254, 184, 0);
}
