body{
    background-color: powderblue;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.nav-link{
    display: flex;
    list-style: none;
}
.nav-link > li > a {
    margin: 10px;
    text-decoration: none;
    color: black;
}
.nav-link > li > a:hover{
    color: palevioletred;
}